#github_img{
    margin: 15px 0px 0px 50px  ;
    width: 50px;
    height: 50px;
    align-content: baseline;
}
#game{
    display: flex;
    justify-content: center;
}
#affichage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #333;
    color: white;
    font-size: x-large;
}
#timer{
    display: flex;
    justify-content: center;
}
#showplayer{
    display: flex;
    flex-direction: row;
}


table{
    margin: 5%;
    border-collapse: collapse;
}

td{
    margin: 0%;
    padding: 0%;
    border:black solid 2px
}
tr{
    margin: 0%;
    padding: 0%;
}
p{
    margin: 0%;
    padding: 0%;
}
/* Button navBar */
body{
    background-image: url(.//assets/bg.jpg);
    background-size: 100%;
}

header{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

a span{
    position: relative;
    z-index: 2;
}

a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: grey;
    transition: all .35s;
}

a:hover{
    color: #fff;
}

a:hover:after{
    width: 100%;
}